{{>header}}

{{#each articles}}
  {{#unless saved}}
    <section class="section">
      <div class="container">

        <div class="tile is-ancestor">
          <div class="tile is-parent is-12">
            <div class="tile is-child box">

              <div class="columns is-multiline">
                <div class="column is-10">
                  <a href="{{this.link}}">
                    <h1 class="title">
                      {{this.title}}
                    </h1>
                  </a>
                </div>

                <div class="column is-2">
                  <a class="button is-link save-button" data-id='{{this.id}}'>
                    Save Article
                  </a>
                </div>
                <div class="column is-12">
                  <h2 class="subtitle">
                    {{this.summary}}
                  </h2>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
  {{/unless}}
{{/each}}
